* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1920px;
    height: 7385px;
    background: #060B27;
}

a {
    text-decoration: none;
    color: White;
    font-family: 'Roboto', sans-serif;
}


/*! START  Header*/

header {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333039;
}

.navbar {
    width: 75%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    background: url(pic/Navbar\ Brand.png);
    width: 158px;
    height: 38.38px;
}

.nav-links {
    width: 50%;
    height: 50px;
    display: flex;
    gap: 55px;
    justify-content: center;
    align-items: center;
}

.nav-links #nav-first-link {
    font-size: 20px;
    opacity: 0.8;
}

.nav-links .nav-link {
    opacity: 0.5;
    font-size: 20px;
}

.nav-button {
    position: relative;
    width: 125px;
    height: 45px;
    border-radius: 35px;
    background: #7214FF;
    border: 0;
    color: White;
    font-size: 16px;
}


/*! END  Header*/


/*? START  First-Section!!*/

.first-section {
    position: absolute;
    width: 100%;
    top: 101px;
    height: 933px;
    background: rgb(6, 11, 39);
    background: linear-gradient(0deg, rgba(6, 11, 39, 1) 0%, rgba(14, 21, 59, 1) 68%, rgba(6, 11, 39, 1) 97%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section .default-container-1 {
    position: absolute;
    width: 1224px;
    height: 793px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-container-1 .inner-container {
    width: 1145px;
    height: 793px;
}

.default-container-1 .inner-content {
    width: 1145px;
    height: 230px;
    position: absolute;
}

.default-container-1 .title {
    width: 1145px;
    height: 154px;
    position: absolute;
    display: flex;
}

.default-container-1 .title h1 {
    position: absolute;
    font-size: 55px;
    left: 45px;
    background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
}

.default-container-1 .title p {
    position: absolute;
    font-size: 20px;
    top: 102px;
    text-align: center;
    width: 799px;
    height: 52px;
    left: 173px;
    color: #fff;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
}

.default-container-1 .inner-buttons {
    position: absolute;
    top: 184px;
    left: 420px;
    display: flex;
    gap: 35px;
}

.default-container-1 .inner-button-1 {
    position: relative;
    width: 125px;
    height: 45px;
    border-radius: 35px;
    background: #7214FF;
    border: 0;
    color: White;
    font-size: 16px;
}

.default-container-1 .inner-button-2 {
    position: relative;
    width: 125px;
    height: 45px;
    border-radius: 35px;
    background: none;
    border: 1px solid #333039;
    color: White;
    font-size: 16px;
}

.default-container-1 .inner-image {
    position: absolute;
    left: 215px;
    top: 280px;
    width: 808px;
    height: 513px;
    background: url(pic/Hero\ image.png);
}


/*? END  First-Section!!*/


/*! START  Second-section! */

.second-section {
    position: absolute;
    width: 1920px;
    height: 854px;
    top: 1034px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-container-2 {
    position: absolute;
    width: 1224px;
    height: 714px;
}

.default-container-2 .default-title {
    position: absolute;
    width: 1225px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default-title h2 {
    width: 700px;
    font-size: 48px;
    background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.default-title p {
    position: relative;
    top: 25px;
    width: 400px;
    height: 128px;
    font-size: 20px;
    color: white;
    opacity: 0.5;
}

.default-container-2 .inner-container {
    position: absolute;
    width: 1227px;
    height: 526px;
    top: 188px;
    display: flex;
    flex-flow: column;
    gap: 24px;
}


/*?START FLEXBOX-CARD*/

.default-container-2 .inner-flexbox-1 {
    width: 1227px;
    height: 251px;
    display: flex;
    justify-content: space-between;
}

.default-container-2 .inner-flexbox-2 {
    width: 1227px;
    height: 251px;
    display: flex;
    justify-content: space-between;
}

.card-1 {
    width: 393px;
    height: 251px;
    border: 1px solid #333039;
    background: #0E1330;
}

.card-2 {
    width: 393px;
    height: 251px;
    background: #0E1330;
    border: 1px solid #333039;
}

.card-3 {
    width: 393px;
    height: 251px;
    background: #0E1330;
    border: 1px solid #333039;
}

.inner-flexbox-1 .card-1 .card-image {
    width: 53.05px;
    height: 45px;
    background: url(pic/flexbox1.png);
    position: relative;
    top: 25px;
    left: 35px;
}

.inner-flexbox-1 .card-1 .card-content {
    width: 323px;
    height: 116px;
    position: relative;
    top: 40px;
    left: 35px;
}

.card-content h6 {
    color: White;
    font-size: 25px;
    line-height: 54px;
}

.card-content p {
    color: white;
    font-size: 18px;
    opacity: 0.5;
}

.inner-flexbox-1 .card-2 .card-image {
    width: 47.94px;
    height: 45px;
    background: url(pic/flexbox2.png);
    position: relative;
    top: 25px;
    left: 35px;
}

.inner-flexbox-1 .card-2 .card-content {
    width: 323px;
    height: 116px;
    position: relative;
    top: 40px;
    left: 35px;
}

.inner-flexbox-1 .card-3 .card-image {
    width: 45px;
    height: 45px;
    background: url(pic/flexbox.png);
    position: relative;
    top: 25px;
    left: 35px;
}

.inner-flexbox-1 .card-3 .card-content {
    width: 323px;
    height: 116px;
    position: relative;
    top: 40px;
    left: 35px;
}

.inner-flexbox-2 .card-1 .card-image {
    width: 34.29px;
    height: 45px;
    background: url(pic/flex1.png);
    position: relative;
    top: 25px;
    left: 35px;
}

.inner-flexbox-2 .card-1 .card-content {
    width: 323px;
    height: 116px;
    position: relative;
    top: 40px;
    left: 35px;
}

.inner-flexbox-2 .card-2 .card-image {
    width: 45px;
    height: 45px;
    background: url(pic/flex2.png);
    position: relative;
    top: 25px;
    left: 35px;
}

.inner-flexbox-2 .card-2 .card-content {
    width: 323px;
    height: 116px;
    position: relative;
    top: 40px;
    left: 35px;
}

.inner-flexbox-2 .card-3 .card-image {
    width: 47.26px;
    height: 45px;
    background: url(pic/flex3.png);
    position: relative;
    top: 25px;
    left: 35px;
}

.inner-flexbox-2 .card-3 .card-content {
    width: 323px;
    height: 116px;
    position: relative;
    top: 40px;
    left: 35px;
}


/*?START FLEXBOX-CARD*/


/*! END  Second-section!!!! */

.third-section {
    position: absolute;
    width: 1920px;
    height: 1575px;
    top: 1888px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-container-3 {
    position: absolute;
    width: 1224px;
    height: 1435px;
}

.default-container-3 .title {
    position: absolute;
    width: 901.73px;
    height: 140px;
    left: 161.13px;
}

.default-container-3 h2 {
    position: absolute;
    background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    left: 100px;
}

.default-container-3 .title-span {
    position: absolute;
    top: 84px;
    width: 901.73px;
    height: 56px;
    display: flex;
    gap: 30px;
}

.default-container-3 .email {
    width: 182.67px;
    height: 56px;
    display: flex;
    align-items: center;
}

.default-container-3 .events {
    width: 194.28px;
    height: 56px;
    display: flex;
    align-items: center;
}

.default-container-3 .files {
    width: 156.94px;
    height: 56px;
    display: flex;
    align-items: center;
}

.default-container-3 .documents {
    width: 277.85px;
    height: 56px;
    display: flex;
    align-items: center;
}

.default-container-3 .email-image {
    width: 42.67px;
    height: 30px;
    background: url(pic/email.png);
}

.default-container-3 .events-image {
    width: 31.28px;
    height: 30px;
    background: url(pic/star.png);
}

.default-container-3 .files-image {
    width: 37.94px;
    height: 30px;
    background: url(pic/files.png);
}

.default-container-3 .documents-image {
    width: 22.85px;
    height: 30px;
    background: url(pic/spisok.png);
}

.default-container-3 .title-span h3 {
    background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    position: relative;
    left: 10px;
}

.default-container-3 .card-list {
    position: absolute;
    width: 1224px;
    height: 1129px;
    top: 200px;
    display: flex;
    flex-flow: wrap;
    gap: 30px;
}

.default-container-3 .card {
    background: rgb(6, 11, 39);
    background: radial-gradient(circle, rgba(6, 11, 39, 1) 0%, rgba(21, 5, 77, 1) 100%);
    width: 1224px;
    height: 513px;
    border: 1px solid #333039;
    border-radius: 15px;
}

.default-container-3 .card .card-content {
    position: relative;
    width: 465px;
    height: 248px;
    top: 132.50px;
    left: 70px;
}

.default-container-3 h5 {
    color: white;
    font-size: 32px;
}

.default-container-3 .card .card-content p {
    position: relative;
    top: 10px;
    color: white;
    font-size: 16px;
    opacity: 0.5;
}

.default-container-3 .card-list-button {
    width: 133px;
    height: 46px;
    border-radius: 50px;
    position: relative;
    background: none;
    border: 1px solid #333039;
    color: White;
    font-size: 16px;
    top: 40px;
}

.default-container-3 .card .card-image {
    width: 515px;
    height: 373px;
    background: url(pic/card.png);
    position: relative;
    left: 50%;
    top: -35%;
}

.default-container-3 .card-list-mobile {
    width: 496px;
    height: 571px;
    background: rgb(6, 11, 39);
    background: radial-gradient(circle, rgba(6, 11, 39, 1) 0%, rgba(37, 20, 97, 1) 100%);
    border: 1px solid #333039;
    border-radius: 15px;
}

.default-container-3 .card-list-mobile .mobile-image {
    position: relative;
    top: 50px;
    left: 112px;
    width: 271px;
    height: 306px;
    background: url(pic/mobile.png);
}

.default-container-3 .card-list-mobile h5 {
    position: relative;
    left: 15%;
    top: 15%;
}

.default-container-3 .card-list-mobile p {
    width: 75%;
    position: relative;
    left: 15%;
    top: 17.5%;
    color: white;
    opacity: 0.4;
}

.default-container-3 .card-list-upload {
    background: rgb(6, 11, 39);
    background: radial-gradient(circle, rgba(6, 11, 39, 1) 0%, rgba(22, 3, 88, 1) 100%);
    border: 1px solid #333039;
    border-radius: 15px;
    width: 690px;
    height: 576px;
}

.default-container-3 .card-list-upload h5 {
    position: relative;
    left: 10%;
    top: 45px;
}

.default-container-3 .card-list-upload p {
    position: relative;
    left: 10%;
    top: 65px;
    width: 80%;
    color: white;
    opacity: 0.4;
    font-size: 16px;
}

.default-container-3 .card-list-upload .upload-image {
    position: relative;
    background: url(pic/upload.png);
    width: 580px;
    height: 393px;
    top: 110px;
    left: 50px;
}

.default-container-3 .buttons {
    position: absolute;
    width: 354px;
    height: 46px;
    top: 1389px;
    left: 435px;
    display: flex;
    gap: 30px;
}

.default-container-3 .buttons-button-1 {
    border-radius: 35px;
    background: #7214FF;
    border: 0;
    color: White;
    font-size: 14px;
    width: 145px;
    height: 45px;
    text-align: center;
}

.default-container-3 .buttons-button-2 {
    border-radius: 35px;
    background: none;
    border: 1px solid #333039;
    color: White;
    font-size: 14px;
    width: 155px;
    height: 45px;
    text-align: center;
}