* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 7385px;
    background: #060B27;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu {
    width: 100%;
    max-width: 1224px;
    height: 46px;
    display: flex;
    gap: 264px;
    align-items: center;
}

.header__menu-logo {
    width: 100%;
    max-width: 155px;
    height: 38.38px;
    background: url(pic/logo2.png);
}

.header__menu-links {
    display: flex;
    gap: 25px;
    width: 100%;
    max-width: 403px;
    height: 44px;
    align-items: center;
    justify-content: center;
}

.header__menu-links-a {
    opacity: 0.5;
}

.header__menu-button {
    width: 100%;
    max-width: 135px;
    height: 46px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #7214FF;
    border-radius: 36px;
    color: white;
}

.section__first {
    width: 100%;
    height: 933px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__first-container {
    width: 100%;
    height: 793px;
    max-width: 1145px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.section__first-container-content {
    max-width: 1145px;
    width: 100%;
    height: 230px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.section__first-container-content-title {
    max-width: 1145px;
    height: 154px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 5px;
}

.section__first-container-content-title h1 {
    font-size: 64px;
    background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__first-container-content-title p {
    width: 799px;
    height: 52px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #8F9BB7;
}

.section__first-container-content-buttons {
    width: 100%;
    height: 46px;
    max-width: 305px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__first-container-content-button-1 {
    gap: 10px;
    max-width: 135px;
    width: 100%;
    height: 46px;
    background: #7214FF;
    border-radius: 36px;
    color: white;
    font-size: 16px;
    border: 0;
}

.section__first-container-content-button-2 {
    width: 100%;
    height: 46px;
    max-width: 140px;
    background: linear-gradient(261.47deg, rgba(21, 25, 52, 0.52) 14.6%, rgba(21, 25, 52, 0.08) 49.66%, rgba(21, 25, 52, 0.49) 87.77%);
    border: 1.2px solid #282D45;
    border-radius: 46px;
    color: white;
}

.section__first-container-bottom {
    height: 513px;
    width: 100%;
    max-width: 1145px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.section__first-container-bottom-image {
    width: 100%;
    max-width: 808px;
    height: 513px;
    background: url(pic/Hero\ image.png);
}

.section__second {
    height: 854px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__second-container {
    width: 100%;
    height: 714px;
    max-width: 1224px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.section__second-container-title {
    width: 100%;
    max-width: 1224px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__second-container-title h2 {
    background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
}

.section__second-container-title p {
    font-size: 16px;
    line-height: 24px;
    color: #8F9BB7;
    height: 50%;
    width: 50%;
}

.section__second-container-flexbox {
    width: 100%;
    height: 526px;
    max-width: 1227px;
    display: flex;
    flex-flow: wrap;
    gap: 19px;
}

.section__second-container-flexbox h3 {
    color: white;
    font-size: 24px;
}

.section__second-container-flexbox p {
    font-size: 16px;
    color: #8F9BB7;
    width: 300px;
}

.section__second-container-flexbox-1 {
    width: 100%;
    height: 251px;
    max-width: 393px;
    background: #0E1330;
    border: 1px solid #282D45;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.section__second-container-flexbox-1-icon-container {
    width: 60px;
    height: 55px;
    padding-left: 25px;
    padding-top: 25px;
}

.section__second-container-flexbox-1-icon {
    width: 53.05px;
    height: 45px;
    background: url(pic/flexbox1.png);
}

.section__second-container-flexbox-1-title {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 116px;
    max-width: 323px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.section__second-container-flexbox-2 {
    width: 100%;
    height: 251px;
    max-width: 393px;
    background: #0E1330;
    border: 1px solid #282D45;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.section__second-container-flexbox-2-icon-container {
    width: 60px;
    height: 55px;
    padding-left: 25px;
    padding-top: 25px;
}

.section__second-container-flexbox-2-icon {
    width: 47.94px;
    height: 45px;
    background: url(pic/flexbox2.png);
}

.section__second-container-flexbox-2-title {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 116px;
    max-width: 323px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.section__second-container-flexbox-3 {
    width: 100%;
    height: 251px;
    max-width: 393px;
    background: #0E1330;
    border: 1px solid #282D45;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.section__second-container-flexbox-3-icon-container {
    width: 60px;
    height: 55px;
    padding-left: 25px;
    padding-top: 25px;
}

.section__second-container-flexbox-3-icon {
    width: 45px;
    height: 45px;
    background: url(pic/flexbox.png);
}

.section__second-container-flexbox-3-title {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 116px;
    max-width: 323px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.section__second-container-flexbox-4 {
    width: 100%;
    height: 251px;
    max-width: 393px;
    background: #0E1330;
    border: 1px solid #282D45;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.section__second-container-flexbox-4-icon-container {
    width: 60px;
    height: 55px;
    padding-left: 25px;
    padding-top: 25px;
}

.section__second-container-flexbox-4-icon {
    width: 34.29px;
    height: 45px;
    background: url(pic/flex1.png);
}

.section__second-container-flexbox-4-title {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 116px;
    max-width: 323px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.section__second-container-flexbox-5 {
    width: 100%;
    height: 251px;
    max-width: 393px;
    background: #0E1330;
    border: 1px solid #282D45;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.section__second-container-flexbox-5-icon-container {
    width: 60px;
    height: 55px;
    padding-left: 25px;
    padding-top: 25px;
}

.section__second-container-flexbox-5-icon {
    width: 45px;
    height: 45px;
    background: url(pic/flex2.png);
}

.section__second-container-flexbox-5-title {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 116px;
    max-width: 323px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.section__second-container-flexbox-6 {
    width: 100%;
    height: 251px;
    max-width: 393px;
    background: #0E1330;
    border: 1px solid #282D45;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.section__second-container-flexbox-6-icon-container {
    width: 60px;
    height: 55px;
    padding-left: 25px;
    padding-top: 25px;
}

.section__second-container-flexbox-6-icon {
    width: 47.26px;
    height: 45px;
    background: url(pic/flex3.png);
}

.section__second-container-flexbox-6-title {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 116px;
    max-width: 323px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.section__third {
    width: 100%;
    height: 1575px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__third-container {
    width: 100%;
    height: 1435px;
    max-width: 1224px;
    display: flex;
    flex-flow: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.section__third-container-title {
    width: 100%;
    height: 140px;
    max-width: 901.73px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section__third-container-title h2 {
    background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
}

.section__third-container-title span {
    width: 100%;
    height: 56px;
    max-width: 901.73px;
    display: flex;
    gap: 30px;
}

.section__third-container-title span p {
    background: linear-gradient(180deg, #F6F6F7 0%, #7E808F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.section__third-container-title-email {
    width: 100%;
    height: 56px;
    max-width: 188.67px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section__third-container-title-events {
    width: 100%;
    height: 56px;
    max-width: 194.28px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section__third-container-title-files {
    width: 100%;
    height: 56px;
    max-width: 156.94px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section__third-container-title-documents {
    width: 100%;
    height: 56px;
    max-width: 277.85px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section__third-container-title-email-logo {
    width: 42.67px;
    height: 30px;
    background: url(pic/email.png);
}

.section__third-container-title-events-logo {
    width: 33.28px;
    height: 30px;
    background: url(pic/star.png);
}

.section__third-container-title-files-logo {
    width: 100%;
    height: 30px;
    max-width: 37.94px;
    background: url(pic/files.png);
}

.section__third-container-title-documents-logo {
    background: url(pic/spisok.png);
    width: 100%;
    height: 30px;
    max-width: 22.85px;
}

.section__third-container-content {
    width: 100%;
    height: 1129px;
    max-width: 1224px;
}

.section__third-container-content-card {
    width: 100%;
    height: 513px;
    max-width: 1224px;
    background: rgb(30, 20, 83);
    background: radial-gradient(circle, rgba(30, 20, 83, 1) 0%, rgba(14, 19, 48, 1) 35%, rgba(19, 62, 102, 0.309983368347339) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.section__third-container-content-card-title {
    width: 100%;
    height: 248px;
    max-width: 465px;
}

.section__third-container-content-card-title-text {
    width: 100%;
    height: 167px;
    max-width: 465px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.section__third-container-content-card-title-text h2 {
    color: white;
    font-size: 32px;
}

.section__third-container-content-card-title-text p {
    color: #8F9BB7;
}

.section__third-container-content-card-title button {
    width: 133px;
    height: 46px;
    background: linear-gradient(261.47deg, rgba(21, 25, 52, 0.52) 14.6%, rgba(21, 25, 52, 0.08) 49.66%, rgba(21, 25, 52, 0.49) 87.77%);
    border: 1.2px solid #282D45;
    border-radius: 46px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.section__third-container-content-card-pic {
    width: 515px;
    height: 373px;
    background: url(pic/card.png);
}

.section__third-container-content-flex {
    width: 100%;
    height: 576px;
    max-width: 1224px;
    display: flex;
    gap: 38px;
}

.section__third-contatiner-content-flex-1 {
    width: 100%;
    height: 571px;
    background: #0E1330;
    max-width: 496px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__third-container-content-flex-1-center {
    height: 471px;
    max-width: 386px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 36px;
}

.section__third-container-content-flex-1-pic {
    width: 271px;
    height: 306px;
    background: url(pic/mobile.png);
}

.section__third-container-content-flex-1-title {
    width: 100%;
    height: 127px;
    max-width: 326px;
    margin-left: 55px;
}

.section__third-container-content-flex h2 {
    color: #F6F6F7;
    font-size: 32px;
}

.section__third-container-content-flex p {
    color: #8F9BB7;
    font-size: 16px;
}

.section__third-container-buttons {
    width: 100%;
    height: 46px;
    max-width: 354px;
}